ARK_API_KEY=your_ark_api_key
ARK_IMAGE_API_KEY=your_ark_image_api_key
ARK_MODEL=your_endpoint_id
ARK_IMAGE_MODEL=your_image_endpoint_id
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
API_PORT=8787
