ARK_API_KEY=your_minimax_api_key
ARK_IMAGE_API_KEY=your_minimax_api_key
ARK_MODEL=MiniMax-M2.5-highspeed
ARK_IMAGE_MODEL=image-01
ARK_BASE_URL=https://api.minimaxi.com/v1
MINIMAX_IMAGE_API_URL=https://api.minimaxi.com/v1/image_generation
API_PORT=8787
DAILY_FREE_DRAW_LIMIT=5
